*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
 background-image: url(../src/assets/images/background.jpg);
 background-size: cover;
 background-repeat: no-repeat; 
 background-position: center; 
 height: 100Vh;
 background-attachment: fixed;
}

#app {
  margin: 0 auto;
}


