*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
 background-image: url(../src/assets/images/background.jpg);
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
}

#app {
  margin: 0 auto;
}


